#private {
        text-align: center;
    } 
#form_select{	
	padding-left: 20px;
    width: 95%;    
}

.footer{
	text-align: center;    
    page-break-before: 10px;
    z-index: 2px;
}

 #cantidad_activos{
        color: blue;
 }
.container{
	width: 100%;
}

.objeto{
	text-align: justify;
}

a{
    color: black;
}