{% extends 'activosBundle::layout.html.twig'%}


{% block body %}
              <div class="row">
                <div class="col-lg-4 lateral ">
                <h4>¿Quiénes Somos? </h4> 
                  <div class="izq">
                       <h5 class="encabezados">Director General</h5>
                       <div class="admin input-group">
                         <a target="blank" href="http://avatar.upr.edu.cu/yosvab.jpeg">
                            <img class=" wp-image-88 alignleft" width="90" height="90" src="http://avatar.upr.edu.cu/yosvab.jpeg" alt="jaula">
                          </a>
                        </div>
                        <div class="admin input-group">
                          <h5> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                              M.Sc. Yosvany Barrios Hernández
                          </h5>     
                          <h5> <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                              ...
                          </h5> 
                          <h5> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                              yosvab@upr.edu.cu 
                          </h5>  
                          <h5> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                              yosvab@talk.upr.edu.cu 
                          </h5>       
                        </div>           
                  </div>
                  
                  
                </div>
                <div class="col-lg-4 center">
                  
                  <h4 class="publicacion">Publicaciones</h4>
                  
               </div>
                <div class="col-lg-4 lateral ">
                   <h4>De interés</h4>

                   <div class="der">
                      <h5 class="encabezados">Administradores de Red</h5>
                        <div class="admin input-group">
                          <h5> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                              Ing.Frank J. Vigil Vega
                          </h5>     
                          <h5> <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                              ...
                          </h5> 
                          <h5> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                              frank.vigil@upr.edu.cu
                          </h5>  
                          <h5> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                              frank.vigil@talk.upr.edu.cu
                          </h5>       
                        </div> 
                  </div>  
                 <div class="der">
                      <h5 class="encabezados"></h5>
                         <div class="admin input-group">
                          <h5> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                              Ing.Carlos Rguez Acosta
                          </h5>     
                          <h5> <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                              ...
                          </h5> 
                          <h5> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                              cracosta@upr.edu.cu
                          </h5>  
                          <h5> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                              cracosta@talk.upr.edu.cu
                          </h5>       
                        </div>   
                  </div>

                </div>
              </div>

              <style type="text/css">
              .separator {
                  background-color: black;        
                  width: 100%;
                  height: 1px;
              }
              .admin{
                padding-left: 3px;
                color: #6E6E6E;
              }
              .encabezados{
                padding-left: 1px;
                color: #62b321;

              }
              .lateral{               
                width: 20%;

              }
              .der{
                border-left: solid 5px #62b321;
                
              }

              .izq{
                
                
              }
              .center{
                width: 60%;
              }
              .publicacion{
                text-align: center;
              }
              
              
              </style>
{% endblock %}