{% extends 'activosBundle::layout.html.twig'%}


{% block body %}
              <div class="row">
                <div class="col-lg-4">
                  <h2>Misión</h2>                  
                  <p class="objeto">La Universidad de Pinar del Río contribuye a satisfacer las necesidades formativas de profesionales de nivel superior y su superación continua en las ciencias agropecuarias, técnicas, sociales, humanísticas, pedagógicas y de la cultura física y el deporte, a partir de la integración de los procesos sustantivos y de apoyo, que garantice un egresado competente, comprometido con la Revolución y con una cultura integral, así como la generación e implementación de resultados científico-técnicos que impacten en el desarrollo socioeconómico de la provincia Pinar del Río y otras regiones del país.</p>
                  <!--p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p-->
                </div>
                <div class="col-lg-4">
                  <h2>Visión</h2>
                  <p class="objeto">Somos una Universidad que alcanza reconocimiento nacional e internacional por la calidad en sus procesos principales. Formamos profesionales integrales, competentes, reconocidos nacional e internacionalmente, de amplia formación humanística, portadores de una cultura general, comprometidos con la Patria y la Revolución Cubana. Fortalecemos los procesos de universalización e incrementamos el ingreso a las carreras priorizadas, las que se consolidan y acreditan nacionalmente, logrando un alto impacto en la sociedad pinareña.</p>
                  <!--p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p-->
               </div>
                <div class="col-lg-4">
                  <h2>Valores compartidos</h2>
                  <p class="objeto">Humanismo, Patriotismo, Honestidad, Responsabilidad, Profesionalidad y Justicia.</p>
                  <!--p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p-->
                </div>
              </div>
{% endblock %}