{% extends 'activosBundle::layout.html.twig'%}

{% block body %}

     <form role="form" onsubmit="buscarResponsable()" method="post" id="combobuscarResponsable" class="form-horizontal">        
        <div class="row">
        	<div class="col-lg-6">
                    <div class="form-group">                            
                        <h5>Usuario</h5>
                    </div>
                <div class="form-group">                 
                             
                        <div class="input-group">
                            
                          <input type="text" id="user" name="user" class="form-control" placeholder="Introdusca su Usuario de la UPR">
                          <span class="input-group-btn">
                            <button class="btn" type="text" ></button>
                          </span>
                        </div><!-- /input-group -->          

                </div>
              </div><!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="form-group">                            
                    <h5>Contrase침a</h5>
                </div>
                <div class="form-group">                  
                             
                        <div class="input-group">
                          <input type="password" id="password" name="password" class="form-control" placeholder="Introduzca su Contrase침a de la UPR">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="buscarResponsable()" >Ir!</button>
                          </span>
                        </div><!-- /input-group -->
                     
                       
                </div>
              </div><!-- /.col-lg-6 -->
        </div>
    </form>

<div class="table_import">    
</div>

<script type="text/javascript">
	function buscarResponsable()
        {   

            var user=$('#user').val();                     
            var password=$('#password').val(); 

            var statusConfirm = confirm("Seguro que deseas ejecutar esta acci칩n");
            if(statusConfirm == true)
            {
              
                
                ///al <div> .table_import le mandamos a cargar el resultado de la function "activosAction" 
                if (user!="" && password!="") {
                      $(document).ajaxStart($.blockUI({                               
                            message: '<p>Esto tardar치 unos minutos...</p>',
                            css:{                    
                                backgroungColor: '#000',
                                '-webkit-border-radius':'10px',
                                'mos-border-radius':'10px',
                                opacity: .6,
                                
                            }
                    })
                    ).ajaxStop($.unblockUI);

                    $('.table_import').load("{{path('load_Responsable')}}", {user:user,password:password},function() {
                    });    
                    
                }
                else{
                    alert("Error en la entrada de datos..!");   
                }

            }

            
            
        }
    
        $(document).ready(function(){
          $("#combobuscarResponsable").submit(function(event) {
                event.preventDefault();
                return false; 
            });
        });
</script>
{% endblock%}